#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	# Remove incompatible Cargo.lock and let cargo use vendored deps
	rm -f Cargo.lock

override_dh_auto_build:
	cargo build --release --offline

override_dh_auto_test:
	# Skip tests during package build
